h2.double-title{
  font-family:"Comic Sans MS", cursive, sans-serif;
  font-weight: normal;
  color: #54BBEC;
  font-size: 62px;
  line-height: 90px;
  text-align: center;
  text-shadow: white 0 1px 1px;
  margin-bottom: 10px;
  word-wrap: break-word;
  margin: 5px;
  padding: 5px;
  border: 0;

}
